.container {
    max-width: var(--container-max-width, 1200px);
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--container-padding, 2rem);
    padding-right: var(--container-padding, 2rem);
}

.container--fluid {
    width: 100%;
    max-width: 100%;
    padding-left: var(--container-padding-mobile, 1rem);
    padding-right: var(--container-padding-mobile, 1rem);
}
