@use '../../styles/abstracts/index.scss' as *;

.services {
    padding: 120px 0;
    background: $color_primary_black_100;
    position: relative;

    &__header {
        margin-bottom: 60px;
    }

    &__title {

    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    &__item {
        display: grid;
        grid-template-columns: 1fr 1.5fr;
        gap: 200px;
        padding: 40px 0;
        border-bottom: 1px solid $color_secondary_white_90;
        align-items: start;

        &:first-child {
            border-top: 1px solid $color_secondary_white_90;
        }

        @media (max-width: 968px) {
            grid-template-columns: 1fr;
            gap: 20px;
            padding: 30px 0;
        }
    }

    &__item-title {
        font-size: 32px;
        font-weight: 500;
        color: #fff;
        margin: 0;
        line-height: 1.2;

        @media (max-width: 968px) {
            font-size: 24px;
        }
    }

    &__item-description {
        font-size: 16px;
        line-height: 1.7;
        color: $color_secondary_white_90;
        margin: 0;
        max-width: 500px;

        @media (max-width: 968px) {
            font-size: 15px;
        }
    }
}
