// Main SCSS entry point (module)
// Використовуйте цей файл в компонентах: @use '../styles/abstracts/index' as *;

// Forward partials so that `@use '.../abstracts/index'` exposes variables and mixins
@forward './variables';
@forward './mixins';
@forward './fonts';

