@use '../../../styles/abstracts/index' as *;

.section__title {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    display: flex;
    align-items: center;
    text-transform: uppercase;

    @media (max-width: $breakpoint_md) {
        font-size: 20px;
    }

    @media (max-width: $breakpoint_sm) {
        font-size: 18px;
    }

    &.white {
        color: $color_secondary_white_80;
    }

    &.dark {
        color: $color_secondary_black_80;
    }
}