@import '../../../../styles/abstracts/index';

.form-container {
   background: $color_primary_light_cyan;
    border-radius: 8px;
    padding: 32px;
    max-width: 1200px;
    margin: 0 auto;

    @media (max-width: 768px) {
      padding: 30px 20px;
    }
}
