@use '../styles/abstracts/index' as *;

.about {
    padding: 120px 0;
    background: $color_primary_main_blue;
    position: relative;

    &__content {
        max-width: $container_max_width;
        margin: 0 auto;
        display: flex;
        flex-direction: column;

        @media (max-width: $breakpoint_md) {
            padding: 0 $container_padding_mobile;
        }
    }

    &__header {
        margin-bottom: 60px;
    }

    &__title {
        @include large-body-name-block;
        color: $color_secondary_white_80;
        margin-bottom: $spacing_md;

        @media (max-width: $breakpoint_md) {
            font-size: $font_size_3xl;
        }
    }

    &__text {
        @include large-headers-h1;
        color: $color_secondary_white_90;
        width: 966px;
        &-wrapper {
            width: 500px;
            margin-left: auto;
            margin-top: 135px;
        }
        &-small {
            @include large-body-paragraph;
            color: $color_primary_white_100;
        }
    }
}
