@use '../../../styles/abstracts/index' as *;

.footer {
  background: $color_primary_main_blue;
  color: $color_primary_white_100;
  padding: 60px;

  &__container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  &__links{
    display: flex;
    gap: 32px;
  }
  &__link{
    color: $color_secondary_white_80;
    @include large-special-footer-social;
  }
}
